---
const year = new Date().getFullYear();
import Image from "astro/components/Image.astro";
---

<footer
	class="mt-auto flex flex-col gap-y-3 pt-20 pb-12 text-zinc-300 text-xs"
>
<a class="underline" href="/">
		&copy; {year} stevedylan.dev
	</a>
  <a target="_blank" rel="noreferrer" class="underline" href="https://github.com/stevedylandev/stevedylan.dev">Source Code</a>
  <a class="underline" href="mailto:contact@stevedylan.dev">Contact</a>
  <a class="underline" href="/kill-your-lawn">Kill Your Lawn</a>
	<a href="/murmurations" class="flex items-center gap-1.5 murmuration-flock" aria-label="Murmurations">
		{Array.from({ length: 7 }).map(() => (
			<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 256 256" class="murmuration-bird" aria-hidden="true">
				<path fill="currentColor" d="M237.33 106.21L61.41 41l-.16-.05a16 16 0 0 0-20.35 20.3a1 1 0 0 0 .05.16l65.26 175.92A15.77 15.77 0 0 0 121.28 248h.3a15.77 15.77 0 0 0 15-11.29l.06-.2l21.84-78l78-21.84l.2-.06a16 16 0 0 0 .62-30.38Zm-87.49 38.09a8 8 0 0 0-5.54 5.54l-23 82.16l-.06-.17L56 56l175.82 65.22l.16.06Z"/>
			</svg>
		))}
	</a>
	<script>
		document.querySelectorAll<SVGElement>('.murmuration-flock .murmuration-bird').forEach((el) => {
			const deg = Math.random() * 360;
			el.style.transform = `rotate(${deg}deg)`;
		});
	</script>
  <a href="https://blog.kagi.com/small-web-updates">
    <Image inferSize={true} src="https://kagifeedback.org/assets/files/2025-11-27/1764250950-635837-80x15-2.png" alt="Kagi Small Web badge"/>
  </a>
</footer>
