---
const year = new Date().getFullYear();
import Image from "astro/components/Image.astro";
---

<footer
	class="mt-auto flex flex-col gap-y-3 pt-20 pb-12 text-gray-500 text-xs"
>
<a class="underline" href="/">
		&copy; {year} stevedylan.dev
	</a>
  <a target="_blank" rel="noreferrer" class="underline" href="https://github.com/stevedylandev/stevedylan.dev">Source Code</a>
  <a class="underline" href="mailto:contact@stevedylan.dev">Contact</a>
  <a class="underline" href="/kill-your-lawn">Kill Your Lawn</a>
  <a href="https://blog.kagi.com/small-web-updates">
    <Image inferSize={true} src="https://kagifeedback.org/assets/files/2025-11-27/1764250950-635837-80x15-2.png" alt="kagi small web"/>
  </a>
	<a href="/googleballs" class="flex items-center gap-1" aria-label="Google Balls">
		<span style="background:#4285F4;width:6px;height:6px;border-radius:50%;display:inline-block;"></span>
		<span style="background:#EA4335;width:6px;height:6px;border-radius:50%;display:inline-block;"></span>
		<span style="background:#FBBC05;width:6px;height:6px;border-radius:50%;display:inline-block;"></span>
		<span style="background:#34A853;width:6px;height:6px;border-radius:50%;display:inline-block;"></span>
	</a>
</footer>
