---
import PageLayout from "@/layouts/Base.astro";
import { Content } from "../content/pages/about.mdx";

const meta = {
title: "/about",
	description: "More about Steve Simkins",
};
---

<PageLayout meta={meta}>
  <article class="flex-grow break-words">
    <h1 class="title mb-6">/about</h1>
    <div class="prose prose-sm prose-cactus prose-headings:font-semibold max-w-none">
      <Content />
    </div>
  </article>
</PageLayout>
