---
import PageLayout from "@/layouts/Base.astro";
import { Content } from "../content/pages/lawn.mdx";

const meta = {
	title: "/kill-your-lawn",
	description: "Before it kills you",
};
---

<PageLayout meta={meta}>
  <article class="flex-grow break-words">
    <h1 class="title mb-6">/kill-your-lawn</h1>
    <div class="prose prose-sm prose-cactus prose-headings:font-semibold max-w-none">
      <Content />
    </div>
  </article>
</PageLayout>
