---
import PageLayout from "@/layouts/Base.astro";
import { Content } from "../content/pages/uses.md";

const meta = {
	title: "Uses",
	description: "Things I use every day",
};
---

<PageLayout meta={meta}>
  <article class="flex-grow break-words">
    <div
      class="prose prose-sm prose-cactus prose-headings:font-semibold"
    >
      <Content />
    </div>
  </article>
</PageLayout>
