---
import PageLayout from "@/layouts/Base.astro";
import { Content } from "../content/pages/uses.md";

const meta = {
	title: "/uses",
	description: "Things I use every day",
};
---

<PageLayout meta={meta}>
  <article class="flex-grow break-words">
    <h1 class="title mb-6">/uses</h1>
    <div
      class="prose prose-sm prose-cactus prose-headings:font-semibold max-w-none"
    >
      <Content />
    </div>
  </article>
</PageLayout>
