---
interface Props {
	text: string;
	className?: string;
}

const { text, className = "" } = Astro.props;
---

<div>

<h1 class:list={[className]} data-decrypting-text data-text={text}>
  {text}
</h1>
<slot />
</div>

